@model IEnumerable<V1.Models.ViewModel.CarouselViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Side Interior</title>
    @*<link href="http://inthe7heaven.com/impressive/separate/css/style.css" rel="stylesheet" />

        <link href="http://inthe7heaven.com/impressive/separate/css/carousel.css" rel="stylesheet">
        <link href="http://inthe7heaven.com/impressive/separate/css/carousel-style.css" rel="stylesheet">*@


    <link href="~/Content/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Engagement" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,600" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic" rel="stylesheet" type="text/css">

</head>

<body class="csstransforms csstransforms3d csstransitions js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

    <nav class="navbar navbar-inverse" role="navigation" style=" margin-bottom: 0px">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SIDE</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Projects</a></li>
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>*@
                </ul>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    @{ Html.RenderPartial("_Carousel", Model);
    }
    <div class="row-fluid">
        <div class="container-fluid UnderSlide">
            <div class="container">
                <div class="span12">
                    <div class="title">From Our Projects</div>
                </div>
            </div>
        </div>
        <div class="container-fluid FromBlog">
            <div class="container">
                <div class="span3">
                    <div class="BlogArticle">
                        <div class="ImgWrap"><span class="date">JAN<br><span>28</span></span><img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/577731_367424199980674_1548975054_n.jpg" alt="" class="img-responsive"></div>
                        <div class="WhiteTone">
                            <a href="./blog-single.html"><span class="title">Examlple showroom</span></a>
                            <p class="comments">
                                <span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span> <a href="#" class="comments">
                                    <span class="count">0</span>
                                    comment
                                </a>
                            </p><p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="BlogArticle">
                        <div class="ImgWrap"><span class="date">JAN<br><span>23</span></span><img class="img-responsive" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/417034_293933073996454_3876203_n.jpg" alt=""></div>
                        <div class="WhiteTone">
                            <a href="./blog-single.html"><span class="title">Child bedroom</span></a>
                            <p class="comments">
                                <span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span> <a href="#" class="comments">
                                    <span class="count">5</span>
                                    comment
                                </a>
                            </p><p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="BlogArticle">
                        <div class="ImgWrap"><span class="date">JAN<br><span>19</span></span><img class="img-responsive" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/430439_293931847329910_1657391466_n.jpg" alt=""></div>
                        <div class="WhiteTone">
                            <a href="./blog-single.html"><span class="title">Child bedroom </span></a>
                            <p class="comments">
                                <span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span>  <a href="#" class="comments">
                                    <span class="count">9</span>
                                    comment
                                </a>
                            </p><p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="BlogArticle">
                        <div class="ImgWrap"><span class="date">JAN<br><span>12</span></span><img class="img-responsive" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/417515_293927040663724_726805427_n.jpg" alt=""></div>
                        <div class="WhiteTone">
                            <a href="./blog-single.html"><span class="title">Proin Dictum Element</span></a>
                            <p class="comments">
                                <span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span> <a href="#" class="comments">
                                    <span class="count">15</span>
                                    comment
                                </a>
                            </p><p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Scripts/bootstrap.js"></script>
</body>
</html>
