@model IEnumerable<V1.Models.ViewModel.CarouselViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    Html.RenderPartial("_Carousel", Model);
}
<div class="row-fluid">
    <div class="container-fluid UnderSlide">
        <div class="container">
            <div class="span12">
                <div class="title">From Our Projects</div>
            </div>
        </div>
    </div>

    @{
        Html.RenderAction("MostPopularProjects", "Project");
    }
   
</div>


@section scriptsMain{
   <script type="text/javascript">

    $(document).ready(function () {

        $("#myCarousel").on("swipeleft", function () {
            $('a.right').click();
        });

        $("#myCarousel").on("swiperight", function () {

            $('a.left').click();
        });
    });
</script>

}