<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <machineKey validationKey="29042BD1FAE0B23E4F238F9DCD8C3DCDEA893C358788291FDDBAD694535FEB220059125DBD4619ADEEE33835C4D393F0555D22A0DF37BBBCECE8E4CEE858F6B8" decryptionKey="51538B9BA01CEAADCC10674E2BEFEFF5235AE3E99D9409500920EFF7996DAB7B" validation="HMACSHA512" decryption="AES" />

    <!--<machineKey validationKey='BDBFD7ED740A20D2974CB66E860B5C805BBC09D977489EAB3CCC77DCA2DC95E0E4AA4727211E1D77EE31ACE5DF40D1D5705DED30440715EE402DC8C0974693B6' decryptionKey='E89C7B64FC14CC6E3CE9100CA53FE5769C868E085FB05FD7' validation='SHA1'/>-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpCookies domain=".greenway.com" httpOnlyCookies="true"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.identityModel>
    <identityConfiguration>
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <audienceUris>
        <add value="http://portal1.greenway.com" />
      </audienceUris>
      <!-- The certificateValidationMode="None" setting is insecure and used only to ease running this sample application. This setting should not be used in production deployments. -->
      <certificateValidation certificateValidationMode="None" />
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <add thumbprint="9B74CB2F320F7AAFC156E1252270B1DC01EF40D0" name="localhost" />
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <wsFederation passiveRedirectEnabled="true" issuer="http://localhost/AuthenticationAPI/LoginManager/Issue/" realm="http://portal1.greenway.com" requireHttps="false" />
      <cookieHandler requireSsl="false" />
      <!--<serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="9B74CB2F320F7AAFC156E1252270B1DC01EF40D0" />
      </serviceCertificate>-->
    </federationConfiguration>
  </system.identityModel.services>
</configuration>
