<form id="ajaxUploadForm" action="@Url.Action("AjaxUpload", "Home")" method="post" enctype="multipart/form-data">

    <fieldset class="form">
        <legend>Async Upload Form</legend>
        <ol class="last">
            <li>
                <label>upload </label>
                <input type="file" id="fileInput" name="file" style="width:317px" />
            </li>
            <li>
                <input class="btn" id="ajaxUploadButton" type="submit" value="Upload" />
            </li>
        </ol>
    </fieldset>
</form>

          
