@model V1.Models.ViewModel.CarouselViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UploadImage</h2>


<div class="alert alert-info">

    Best dimension of picture is  1903x750, otherwise it ll resize the image on upload
</div>
<div class="row">
    @{

        var fileds = new List<FormFields>();
        fileds.Add(new FormFields()
        {
            Type = FormFields.FieldType.file,
            Caption = "Select Files",
            FieldId = "file"
        });
        fileds.Add(new FormFields()
        {
            Type = FormFields.FieldType.Text,
            Caption = "Caption",
            FieldId = "txtCaption",
            PlaceholderText = "Caption"

        });
        fileds.Add(new FormFields()
        {
            Type = FormFields.FieldType.hidden,
            Caption = "-1",
            FieldId = "hdnImgId"
        });

    }
    @UploadHelper.CreateForms(fileds, true, "#UploadImage", "/SideAdmin/Admin/UploadImage1", "loadImageList")


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" id="UploadImage" type="button">Upload!</button>
        </div>
    </div>

</div>

<div id="ImageList">


</div>
@*@{
        Html.RenderAction("ViewCarouselImageList");

    }*@

@section scripts{
    <script src="~/Scripts/Common/XHRUtility.js"></script>
    <script type="text/javascript">

        function loadImageList() {
            var url = "@Url.Action("ViewCarouselImageList", "Admin")"
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('#hdnImgId').val(0);
                    $('#txtCaption').val('');
                    $('#ImageList').html(data);
                    $('#adminImageList .thumbnail').on('mouseover', function () {
                        $(this).find("div.Image-list-control").removeClass('Image-list-hidden ');
                    });
                    $('#adminImageList .thumbnail').on('mouseout', function () {
                        $(this).find("div.Image-list-control").addClass('Image-list-hidden ');
                    });

                    $('#adminImageList .thumbnail a.img-delete').on('click', function () {
                        deleteImage($(this).attr('imgId'));

                    });
                    $('#adminImageList .thumbnail input.checkbox').on('click', function () {
                        if ($(this).prop('checked')) {
                            $('.thumbnail :checkbox').not(this).removeAttr('checked');
                            $('.thumbnail').removeClass('img-selected');
                            selectImage($(this).attr('imgId'), $(this).siblings('.caption').find('p').html().trim());
                            $(this).parent().addClass('img-selected');
                        }
                    });
                },
                error: function (data) {
                    $('#ImageList').html(data);
                }
            });
        }
        function deleteImage(id) {
            var url = '@Url.Action("DeleteImage","Admin")'
            $.ajax({
                type: "post",
                url: url,
                data: { id: id },
                success: function (data) {
                    loadImageList();
                }
            });
        }
        function selectImage(id,caption) {
            $('#hdnImgId').val(id);
            $('#txtCaption').val(caption);
        }
        $(document).ready(function () {
            loadImageList();


        });

    </script>
}