@{
    Layout= null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portfolio v2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://inthe7heaven.com/impressive/separate/css/style.css" rel="stylesheet">
    <link href="http://inthe7heaven.com/impressive/separate/css/bootstrap.css" rel="stylesheet">
    <link href="http://inthe7heaven.com/impressive/separate/css/carousel.css" rel="stylesheet">
    <link href="http://inthe7heaven.com/impressive/separate/css/carousel-style.css" rel="stylesheet">
    <link href="http://inthe7heaven.com/impressive/separate/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://inthe7heaven.com/impressive/separate/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="icon/fav.ico" rel="icon" type="image/x-icon" />
    <link href="icon/fav.ico" rel="shortcut icon" type="image/x-icon" />
    <!--[if IE 8]>
    <link href="css/IE.css" rel="stylesheet">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="brand"><a href="index.html"><span class="red">I</span>mpressive</a></div>
                <div class="test">
                    <button type="button" class="btn btn-navbar black" data-toggle="collapse" data-target="#nav">
                        <span class="ButWrap">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                        <span data-value='current-nav' class="CurrentPage">Pages</span>
                    </button>
                    <ul class="Socials">
                        <li><a href="#" class="tweet"><span></span></a></li>
                        <li><a href="#" class="facebook"><span></span></a></li>
                        <li><a href="#" class="pint"><span></span></a></li>
                    </ul>
                </div>
                <div class="nav-collapse collapse customMenu" id="nav">
                    <div id="wrapper">
                        <div id="scroller">
                            <ul class="nav pull-right TopMenu">
                                <li><a href="index.html" class="aLink">Home</a></li>
                                <li><a href="about.html" class="aLink">About</a></li>
                                <li><a href="portfolio.html" class="aLink">Portfolio</a></li>
                                <li><a href="blog.html" class="aLink">Blog</a></li>
                                <li><a href="contacts.html" class="aLink">Contact</a></li>
                                <li><a href="features.html" class="aLink">Features</a></li>
                                <li class="active">
                                    <a href="#">Pages</a>
                                    <ul class="DropMenu">
                                        <li><a href="full_width_4column_blog.html" class="aLink">Full Width 4 Column Blog</a></li>
                                        <li><a href="full_width_3column_blog.html" class="aLink">Full Width 3 Column Blog</a></li>
                                        <li><a href="blog_with_right_sidebar.html" class="aLink">Blog With Right Sidebar</a></li>
                                        <li><a href="blog.html" class="aLink">Blog With Left Sidebar</a></li>
                                        <li>
                                            <a href="#">Single Blog Posts<span class="plus">+</span></a>
                                            <ul>
                                                <li><a href="blog-single.html" class="aLink">Image Post</a></li>
                                                <li><a href="image_slideshow_post.html" class="aLink">Image Slideshow Post</a></li>
                                                <li><a href="youtube-post.html" class="aLink">Youtube Post</a></li>
                                                <li><a href="vimeo-post.html" class="aLink">Vimeo Post</a></li>
                                                <li><a href="html5-player.html" class="aLink">HTML5 Video Post</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="portfoliov2.html" class="aLink">Portfolio version 2</a></li>
                                        <li><a href="project-page.html" class="aLink">Project Page</a></li>
                                        <li><a href="page_with_right_sidebar.html" class="aLink">Page With Right Sidebar</a></li>
                                        <li><a href="page_with_left_sidebar.html" class="aLink">Page With Left Sidebar</a></li>
                                        <li><a href="404.html" class="aLink">404 Page</a></li>
                                        <li><a href="sitemap.html" class="aLink">Sitemap</a></li>
                                    </ul>
                                </li>
                                <li><a href="http://themeforest.net/item/impressive-interior-responsive-html5-template/4823070?ref=mad_velikorodnov" class="aLink Buy">Buy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wrap">
        <div id="FullBlog">
            <div class="row BottomMenuWrap">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <div class="test">
                                <div class="empty"></div>
                                <button type="button" class="btn btn-navbar gray" data-toggle="collapse" data-target="#FullBlog .nav-collapse">
                                    <span class="ButWrap">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </span>
                                    <span data-value='current-nav' class="CurrentPageGray">All</span>
                                </button>
                            </div>
                            <div class="nav-collapse collapse customMenuGray">
                                <section id="options">
                                    <ul class="nav-tabs BottomMenu option-set" id="SortList" data-option-key="filter" data-parent="#FullBlog" data-scroll='disabled'>
                                        <li><a href="#filter" data-option-value="*" class="selected">All</a></li>
                                        <li><a href="#filter" data-option-value=".Residential">Residential</a></li>
                                        <li><a href="#filter" data-option-value=".Retail">Retail</a></li>
                                        <li><a href="#filter" data-option-value=".Hotels">Hotels & Bars</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row Blog4ColumnContent" id="portfolio-grid">
                <div class="container">
                    <div class="span12">
                        <div class="span9 MainTitle">
                            portfolio version 2
                        </div>
                    </div>
                    <div class="span12 Null">
                        <section id="portfolio-wrapper">
                            <ul class="portfolio grid isotope">
                                <li data-category="Residential" class="Residential item-wide isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic23.jpg" alt=""><span class="title">Nam pulvinar metus quis ante<br /><em>Residential</em></span></a>
                                </li>
                                <li data-category="Hotels" class="Hotels item-small isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic24.jpg" alt=""><span class="title">Voluptas Sit Aspernatur<br /><em>Hotels</em></span></a>
                                </li>

                                <li data-category="Residential" class="Residential item-high isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic26.jpg" alt=""><span class="title">Lorem ipsum dolor sit<br /><em>Residential</em></span></a>
                                </li>

                                <li data-category="Residential" class="Residential item-small isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic25.jpg" alt=""><span class="title">Consectetur adipiscing<br /><em>Residential</em></span></a>
                                </li>

                                <li data-category="Residential" class="Residential item-small isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic27.jpg" alt=""><span class="title">Curabitur in sem ac turpis<br /><em>Residential</em></span></a>
                                </li>
                                <li data-category="Hotels" class="Hotels item-long isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic29.jpg" alt=""><span class="title">Duis sagittis nunc eget arcu<br /><em>Hotels & Bars</em></span></a>
                                </li>
                                <li data-category="Retail" class="item-small isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic28.jpg" alt=""><span class="title">Etiam ipsum elit egestas adipiscing<br /><em>Retail</em></span></a>
                                </li>

                                <li data-category="Hotels" class="Hotels item-high isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic32.jpg" alt=""><span class="title">Phasellus posuere pellentesque<br /><em>Hotels & Bars</em></span></a>
                                </li>

                                <li data-category="Retail" class="Retail item-wide isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic33.jpg" alt=""><span class="title">Cras aliquet augue tincidunt<br /><em>Retail</em></span></a>
                                </li>
                                <li data-category="Retail" class="Retail item-small isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic30.jpg" alt=""><span class="title">Mauris aliquam laoreet arcu<br /><em>Retail</em></span></a>
                                </li>

                                <li data-category="Retail" class="Retail item-small isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic36.jpg" alt=""><span class="title">Praesent tortor nibh tempor sit amet<br /><em>Retail</em></span></a>
                                </li>


                                <li data-category="Hotels" class="Hotels item-small isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic35.jpg" alt=""><span class="title">Sed sodales sapien non<br /><em>Hotels & Bars</em></span></a>
                                </li>
                                <li data-category="Hotels" class="Hotels item-small isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic31.jpg" alt=""><span class="title">Aliquam rutrum enim<br /><em>Hotels</em></span></a>
                                </li>

                                <li data-category="Residential" class="Residential item-long isotope-item">
                                    <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic34.jpg" alt=""><span class="title">Ut bibendum est sit amet<br /><em>Residential</em></span></a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="http://inthe7heaven.com/impressive/separate/js/jquery.js"></script>
    <script src="http://inthe7heaven.com/impressive/separate/js/bootstrap.js"></script>
    <script src="http://inthe7heaven.com/impressive/separate/js/sorting.js"></script>
    <script src="~/Scripts/main.js"></script>
    
</body>
</html>