<section id="portfolio-wrapper">
    <ul class="portfolio grid isotope">
        <li  class="Residential item-wide isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic23.jpg" alt=""><span class="title">Nam pulvinar metus quis ante<br /><em>Residential</em></span></a>
        </li>
        <li  class="Hotels item-small isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic24.jpg" alt=""><span class="title">Voluptas Sit Aspernatur<br /><em>Hotels</em></span></a>
        </li>

        @*<li data-category="Residential" class="Residential item-high isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic26.jpg" alt=""><span class="title">Lorem ipsum dolor sit<br /><em>Residential</em></span></a>
        </li>

        <li data-category="Residential" class="Residential item-small isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic25.jpg" alt=""><span class="title">Consectetur adipiscing<br /><em>Residential</em></span></a>
        </li>*@

        <li  class="Residential item-small isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic27.jpg" alt=""><span class="title">Curabitur in sem ac turpis<br /><em>Residential</em></span></a>
        </li>
        <li  class="Hotels item-long isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic29.jpg" alt=""><span class="title">Duis sagittis nunc eget arcu<br /><em>Hotels & Bars</em></span></a>
        </li>
        <li class="Retail item-high isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic28.jpg" alt=""><span class="title">Etiam ipsum elit egestas adipiscing<br /><em>Retail</em></span></a>
        </li>

        @*<li data-category="Hotels" class="Hotels item-high isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic32.jpg" alt=""><span class="title">Phasellus posuere pellentesque<br /><em>Hotels & Bars</em></span></a>
        </li>

        <li data-category="Retail" class="Retail item-wide isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic33.jpg" alt=""><span class="title">Cras aliquet augue tincidunt<br /><em>Retail</em></span></a>
        </li>
        <li data-category="Retail" class="Retail item-small isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic30.jpg" alt=""><span class="title">Mauris aliquam laoreet arcu<br /><em>Retail</em></span></a>
        </li>*@

        @*<li data-category="Retail" class="Retail item-small isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic36.jpg" alt=""><span class="title">Praesent tortor nibh tempor sit amet<br /><em>Retail</em></span></a>
        </li>


        <li data-category="Hotels" class="Hotels item-small isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic35.jpg" alt=""><span class="title">Sed sodales sapien non<br /><em>Hotels & Bars</em></span></a>
        </li>
        <li data-category="Hotels" class="Hotels item-small isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic31.jpg" alt=""><span class="title">Aliquam rutrum enim<br /><em>Hotels</em></span></a>
        </li>

        <li data-category="Residential" class="Residential item-long isotope-item">
            <a href="project-page.html"><img src="http://inthe7heaven.com/impressive/separate/images/pic34.jpg" alt=""><span class="title">Ut bibendum est sit amet<br /><em>Residential</em></span></a>
        </li>*@
    </ul>
</section>
