@model IEnumerable<V1.Models.ViewModel.CarouselViewModel>

@{
    Layout = null;
  
}

<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @{  var i = 0;
foreach (var item in Model) {
     if (item.IsActive) { 
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            }
            else
     {
      <li data-target="#myCarousel" data-slide-to="0" ></li>}
}
           
}
        </ol>
        <div class="carousel-inner">
@foreach (var item in Model) {
    if (item.IsActive) { 
            <div  class="item active">
                <img alt="First slide" src="@item.ImageSrc" /> >
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Example headline.</h1>
                    </div>
                </div>
            </div>
    }
    else
    {
        <div class="item">
            <img alt="First slide" src="@item.ImageSrc" /> >
            <div class="container">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                </div>
            </div>
        </div>
    }
}
            
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>


