<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <add name="SIDEContxts" connectionString="metadata=res://*/Model.Edmx.Side.csdl|res://*/Model.Edmx.Side.ssdl|res://*/Model.Edmx.Side.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PANKAJD7;Initial Catalog=SIDE;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <connectionStrings>
    <add name="SIDEContxts" connectionString="metadata=res://*/Model.Edmx.Side.csdl|res://*/Model.Edmx.Side.ssdl|res://*/Model.Edmx.Side.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.139.160.115\MSSQLSERVER2008;initial catalog=QaSide;user id=SideQa;password=Surajit@20;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>