
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SUbLayout.cshtml";
}

<div class="row-fluid AboutContent" style="margin-top:100px">
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="story">
                <div class="span3"><div class="title">About Us</div></div>
                <div class="span6">
                    <div class="aboutText">
                        <p class="center">Interior and exterior designing concept</p>
                        @*<p class="muted">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
                        <p class="center">Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae suspendisse.</p>
                        <p class="muted">Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Mauris accumsan nulla vel diam. </p>*@
                    </div>
                </div>
                <div class="span3 StoryImage"><img src="images/pic9.jpg" alt="About use pic"></div>
                <div class="clear"></div>
            </div>
            <div class="tab-pane fade in" id="team">
                <div class="span3"><div class="title">meet our team</div></div>
                <div class="span9">
                    <div class="aboutText">
                        <p class="muted">Some Text on great Team</p>
                    </div>
                    @*<div class="row-fluid TeamWrap">
                        <div class="span4">
                            <div class="MeetTeam">
                                <img src="images/port_image.jpg" alt="">
                                <div class="TeamInfo">
                                    <div class="name">
                                        Anete Puga<span>Founding Principal Architect</span>
                                    </div>
                                    <div class="InfoWrap" style="display: none;">
                                        <div class="description">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </div>
                                        <div class="SocialWrap">
                                            Stay connected:
                                            <ul class="SocialList">
                                                <li><a href="#" class="tweet"><span></span></a></li>
                                                <li><a href="#" class="face"><span></span></a></li>
                                                <li><a href="#" class="in"><span></span></a></li>
                                                <li><a href="#" class="goog"><span></span></a></li>
                                                <li><a href="#" class="flickr"><span></span></a></li>
                                                <li><a href="#" class="insta"><span></span></a></li>
                                                <li><a href="#" class="pint"><span></span></a></li>
                                                <li><a href="#" class="mail"><span></span></a></li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="MeetTeam">
                                <img src="images/port_image1.jpg" alt="">
                                <div class="TeamInfo">
                                    <div class="name">
                                        Alan Smith<span>Project Architect</span>
                                    </div>
                                    <div class="InfoWrap" style="display: none;">
                                        <div class="description">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </div>
                                        <div class="SocialWrap">
                                            Stay connected:
                                            <ul class="SocialList">
                                                <li><a href="#" class="tweet"><span></span></a></li>
                                                <li><a href="#" class="face"><span></span></a></li>
                                                <li><a href="#" class="in"><span></span></a></li>
                                                <li><a href="#" class="goog"><span></span></a></li>
                                                <li><a href="#" class="flickr"><span></span></a></li>
                                                <li><a href="#" class="insta"><span></span></a></li>
                                                <li><a href="#" class="pint"><span></span></a></li>
                                                <li><a href="#" class="mail"><span></span></a></li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4 VisMarg1">
                            <div class="MeetTeam">
                                <img src="images/port_image2.jpg" alt="">
                                <div class="TeamInfo">
                                    <div class="name">
                                        Sam Kromstain<span>Project Architect</span>
                                    </div>
                                    <div class="InfoWrap" style="display: none;">
                                        <div class="description">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </div>
                                        <div class="SocialWrap">
                                            Stay connected:
                                            <ul class="SocialList">
                                                <li><a href="#" class="tweet"><span></span></a></li>
                                                <li><a href="#" class="face"><span></span></a></li>
                                                <li><a href="#" class="in"><span></span></a></li>
                                                <li><a href="#" class="goog"><span></span></a></li>
                                                <li><a href="#" class="flickr"><span></span></a></li>
                                                <li><a href="#" class="insta"><span></span></a></li>
                                                <li><a href="#" class="pint"><span></span></a></li>
                                                <li><a href="#" class="mail"><span></span></a></li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4 VisMarg2">
                            <div class="MeetTeam">
                                <img src="images/port_image4.jpg" alt="">
                                <div class="TeamInfo">
                                    <div class="name">
                                        Bradley Grosh<span>Project Architect</span>
                                    </div>
                                    <div class="InfoWrap" style="display: none;">
                                        <div class="InfoWrapContainer">
                                            <div class="description">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </div>
                                            <div class="SocialWrap">
                                                Stay connected:
                                                <ul class="SocialList">
                                                    <li><a href="#" class="tweet"><span></span></a></li>
                                                    <li><a href="#" class="face"><span></span></a></li>
                                                    <li><a href="#" class="in"><span></span></a></li>
                                                    <li><a href="#" class="goog"><span></span></a></li>
                                                    <li><a href="#" class="flickr"><span></span></a></li>
                                                    <li><a href="#" class="insta"><span></span></a></li>
                                                    <li><a href="#" class="pint"><span></span></a></li>
                                                    <li><a href="#" class="mail"><span></span></a></li>
                                                </ul>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4 VisMarg1">
                            <div class="MeetTeam">
                                <img src="images/port_image3.jpg" alt="">
                                <div class="TeamInfo">
                                    <div class="name">
                                        Gloria Mann<span>Project Architect</span>
                                    </div>
                                    <div class="InfoWrap" style="display: none;">
                                        <div class="description">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </div>
                                        <div class="SocialWrap">
                                            Stay connected:
                                            <ul class="SocialList">
                                                <li><a href="#" class="tweet"><span></span></a></li>
                                                <li><a href="#" class="face"><span></span></a></li>
                                                <li><a href="#" class="in"><span></span></a></li>
                                                <li><a href="#" class="goog"><span></span></a></li>
                                                <li><a href="#" class="flickr"><span></span></a></li>
                                                <li><a href="#" class="insta"><span></span></a></li>
                                                <li><a href="#" class="pint"><span></span></a></li>
                                                <li><a href="#" class="mail"><span></span></a></li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4 VisMarg">
                            <div class="MeetTeam">
                                <img src="images/port_image5.jpg" alt="">
                                <div class="TeamInfo">
                                    <div class="name">
                                        Camala Haddon<span>Project Architect</span>
                                    </div>
                                    <div class="InfoWrap" style="display: none;">
                                        <div class="description">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </div>
                                        <div class="SocialWrap">
                                            Stay connected:
                                            <ul class="SocialList">
                                                <li><a href="#" class="tweet"><span></span></a></li>
                                                <li><a href="#" class="face"><span></span></a></li>
                                                <li><a href="#" class="in"><span></span></a></li>
                                                <li><a href="#" class="goog"><span></span></a></li>
                                                <li><a href="#" class="flickr"><span></span></a></li>
                                                <li><a href="#" class="insta"><span></span></a></li>
                                                <li><a href="#" class="pint"><span></span></a></li>
                                                <li><a href="#" class="mail"><span></span></a></li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div><!--tab pane team-->
            <div class="tab-pane fade in" id="vision">
                <div class="container">
                    <div class="span3"><div class="title">Our Vision</div></div>
                    <div class="span9">
                        <div class="row">
                            Vision Text
                            @*<div class="span4">
                                <div class="VisionArticle">
                                    <div class="VisionTitle"><div class="number">01</div><span>Lacinia Fermentum</span></div>
                                    <div class="text">
                                        Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="VisionArticle">
                                    <div class="VisionTitle"><div class="number">02</div><span>Aenean Nec Eros</span></div>
                                    <div class="text">
                                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget.
                                    </div>
                                </div>
                            </div>
                            <div class="span4 VisMarg1">
                                <div class="VisionArticle">
                                    <div class="VisionTitle"><div class="number">03</div><span>Quisque Diam Lorem</span></div>
                                    <div class="text">
                                        Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia.
                                    </div>
                                </div>
                            </div>
                            <div class="span4 VisMarg2">
                                <div class="VisionArticle">
                                    <div class="VisionTitle"><div class="number">04</div><span>Vitae Dicta Sunt</span></div>
                                    <div class="text">
                                        Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
                                    </div>
                                </div>
                            </div>
                            <div class="span4 VisMarg1">
                                <div class="VisionArticle">
                                    <div class="VisionTitle"><div class="number">05</div><span>Nulla Venenatis</span></div>
                                    <div class="text">
                                        Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis.
                                    </div>
                                </div>
                            </div>
                            <div class="span4 VisMarg">
                                <div class="VisionArticle">
                                    <div class="VisionTitle"><div class="number">06</div><span>Donec Sagittis</span></div>
                                    <div class="text">
                                        Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac.
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div><!--tab content-->
    </div><!--container-->
</div>
